{% extends "authentication/reset_form.html" %}

{% block content %}
<div class="list">
    <h2>Forgot Password?</h2>
    <form action="{% url 'reset_complete' %}" class="form1" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="input-group">
            <input type="password" class="input" required>
            <label class="placeholder">New Password</label>
        </div>
        <div class="input-group">
            <input type="password" class="input" required>
            <label class="placeholder">Confirm Password</label>
        </div>
        <input type="submit" value="Change Password">
    </form>
</div>
{% endblock %}