{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content=""> 
    <title>Project_BOCS | {{ title }}</title>
    
    <!-- REFERENCES -->
    <link rel="stylesheet" href="{% static 'css/signup_style.css' %}">

    <!-- FAVICONS -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/BOCS Logo.png' %}">
    <link rel="apple-touch-icon" type="image/png" href="{% static 'img/BOCS Logo.png' %}">
</head>
<body>
    <main class="container">
        <section class="left-side">
            <img src="assets/img/NCH Logo.png" class="img_nch">
            <h1>CREATE ACCOUNT</h1>
            <form action="{% url 'signup' %}" class="form1" method="post" autocomplete="off">
            {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="input" id="Username" required>
                    <label class="placeholder">Username</label>
                </div>
                <div class="input-group">
                    <input type="text" class="input" id="UempId" required>
                    <label class="placeholder">Employee ID</label>
                </div>
                <div class="input-group">
                    <input type="text" class="input" id="Ufname" required>
                    <label class="placeholder">First Name</label>
                </div>
                <div class="input-group">
                    <input type="text" class="input" id="Ulname" required>
                    <label class="placeholder">Last Name</label>
                </div>
                <div class="input-group">
                    <input type="text" class="input" id="Umname" required>
                    <label class="placeholder">Middle Name</label>
                </div>
                <div class="input-group">
                    <input type="email" class="input" id="Uemail" required>
                    <label class="placeholder">Email Address</label>
                </div>
                <div class="input-group">
                    <select class="input" id="UjRole">
                        <option value="" disabled selected>Select Job Role</option>
                        <option value="MedTech">MedTech</option>
                        <option value="Nurse">Nurse</option>
                        <option value="BloodBank Technician">BloodBank Technician</option>
                    </select>
                    <label class="placeholder">Job Role</label>
                </div>
                <div class="input-group">
                    <input type="text" class="input" id="UidNum" required>
                    <label class="placeholder">ID Number</label>
                </div>
                <div class="input-group">
                    <input type="password" class="input" id="Upass" required>
                    <label class="placeholder">Password</label>
                </div>
                <div class="input-group">
                    <input type="password" class="input" id="UrPass" required>
                    <label class="placeholder">Password Verification</label>
                </div>
                <input type="submit" value="SUBMIT">

                <p>Already have an account? <a href="{% url 'home' %}">Login</a></p>
            </form>
        </section>
        <section class="right-side">
            <div>
                <img src="{% static 'img/BOCS Logo.png'%}" class="img_bocs">
            </div>
        </section>
    </main> 
</body>
</html>