{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content=""> 
    <title>Project_BOCS | {{ title }}</title>

    <!-- REFERENCES -->
    <link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}">

    <!-- FAVICONS -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/BOCS Logo.png' %}">
    <link rel="apple-touch-icon" type="image/png" href="{% static 'img/BOCS Logo.png' %}">

    <script src="{% static 'js/dashboard.js' %}" defer></script>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a href= "{% url 'dashboard' %}">
                <img src="{% static 'img/BOCS Logo Banner.png' %}" class="img_bocs">
            </a>
            <ul class="links">
                <li class="link">
                    <a href="{% url 'inventory' %}" class="link-item">Inventory</a>
                </li>
                <li class="link">
                    <a href="{% url 'colndistrib' %}" class="link-item">Collect & Distribution</a>
                </li>
                <li class="link">
                    <a href="{% url 'reservation' %}" class="link-item">Reservation</a>
                </li>
                <li class="link">
                    <a href="{% url 'transcription' %}" class="link-item">Transcription Record</a>
                </li>
                <li class="link">
                    <a href="{% url 'sumrep' %}" class="link-item">Summary Report</a>
                </li>
            </ul>
            <img src="{% static 'img/user.png' %}" class="img_user menuBar" onclick="toggleMenu()">
        </nav>
    </header>
    <main class="main">
        <img src="{% static 'img/NCH Logo.png' %}" class="img_nch">
        <section class="sub_wrap hide" id="toggleMenu">
            <div class="sub" id="menu">
                <button type="submit" class="close" onclick="toggleMenu()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="user_info">
                    <img src="{% static 'img/user.png' %}" class="img_user--">
                    <h2>{{lname}}, {{fname}} {{miname}}<hr></h2>
                    <p>{{jrole}}</p>
                    <p>{{idnum}}</p>
                    <hr>
                    <a href="{% url 'update' %}">
                        <button type="button" class="update_btn"><span><img src="{% static 'img/edit_square.png' %}" class="icon"></span>Update Profile</button>
                    </a>
                    <a href="{% url 'signout' %}">
                        <button type="button" class="logout_btn"><span><img src="{% static 'img/logout.png' %}" class="icon"></span>Log Out</button>
                    </a>
                </div>
            </div>
        </section>
        <section class="greeting">
            <div class="img_icon">
                <img src="{% static 'img/BloodDrop Logo.png' %}" class="img_blood">
            </div>
            <div class="typog1">
                <p>Hi, {{fulname}}!</p>
            </div>
            <div class="typog2">
                <h1>Welcome to</h1>
                <h1>Blood Bank Operation Cyber System</h1>
            </div>
        </section>
    </main>
</body>
</html>